body {
    background-color: rgb(89, 194, 138);

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 1em;
}

.greeting {
    font-size: 2em;
    display: flex;
    justify-content: center;
    border: 6px white solid;
    border-radius: 1em;
    margin: .5em;
}

#logo {
    font-size: 2em;
}

#modal-btn {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.modal {
    display: none;
    position: fixed;
    padding-top: 2em;
    /* left: 0;
    top: 0; */
    width: 50%;
    height: 50%;
    background-color: rgba(0,0,0);
    background-color: rgb(0,0,0, 0.5);
    /* overflow: auto; */

}

.modal-content {
    background-color: white;
    padding: 1em;
    border: 1px solid #888222;  
    width: 80%;
    height: 80%;
}

.close-btn {
    float: right;
    color: lightgrey;
    font-size: 1em;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus  {
    color: darkgray;  
    text-decoration: none;  
    cursor: pointer;
}

/* JS */
/* .is-visible {
    opacity: 1;
    pointer-events: auto;
} */

/* .goals-container {
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
} */

h2 {
    font-size: 4em;
}